.navbar-nav .nav-link {
  font-weight: 500;
  color: #657c6a;
  cursor: pointer;
}
.navbar-nav .nav-link:hover {
  color: #a2b9a7;
}
.navbar-brand img {
  border-radius: 8px;
}

.navbar-search {
  max-width: 500px;
}
.form-control:focus {
  border-color: #a2b9a7 !important;
  box-shadow: 0 0 0 0.2rem rgba(162, 185, 167, 0.25) !important;
  outline: none;
}
.navbar-search input {
  border-radius: 20px 0 0 20px;
}

.navbar-search button {
  border-radius: 0 20px 20px 0;
  background-color: #657c6a;
  color: white;
  border: none;
}

.navbar-search button:hover {
  background-color: #a2b9a7;
}